---
layout: layouts/default
title: Contact
url: /contact
---

<h1 class="mb-4">Contact</h1>
<p>
    If you are interested in hiring me, you can contact me at
    <a href="mailto:contact@codrod.dev">contact@codrod.dev</a>,
    <a rel="noopener noreferrer" target="_blank" href="https://linkedin.com/in/codrod">LinkedIn</a>, or use the form below.
</p>
<p>
    If you are contacting me to report a bug or make a suggestion, please create bug report through either
    <a rel="noopener noreferrer" target="_blank" href="https://github.com/codrod">Github</a>
    or
    <a rel="noopener noreferrer" target="_blank" href="https://gitlab.com/codrod">Gitlab</a>, depending on where is hosted.
        If you want to make a suggestion or request you can create a discussion post or message me directly.
</p>
<p>
    For everything else use the form below or email me directly at
    <a href="mailto:contact@codrod.dev">contact@codrod.dev</a>
</p>
<hr class="my-4"/>
<form>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email">
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Full Name</label>
        <input type="email" class="form-control" id="name">
    </div>
    <div class="mb-3">
        <label for="message" class="form-label">Message</label>
        <textarea class="form-control" id="message" rows="10"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>