---
layout: layouts/default
title: Contact
url: /contact
---

<h1 class="mb-4">Contact</h1>
<p>
    If you are reporting a bug, making a suggestion, or requesting a feature then please open an issue through the issue
    tracker for
    <a rel="noopener noreferrer" target="_blank" href="https://github.com/codrod">GitHub</a>
    or
    <a rel="noopener noreferrer" target="_blank" href="https://gitlab.com/codrod">GitLab</a>.
</p>
<p>
    If you are a recruiter or an employer, please message me on
    <a rel="noopener noreferrer" target="_blank" href="https://linkedin.com/in/codrod">LinkedIn</a>.
</p>
<p>
    For everything else, please email me at <a href="mailto:contact@codrod.com">contact@codrod.com</a> or use the form below:
</p>
<hr class="my-4"/>
<form id="contact-form" action="https://api.web3forms.com/submit" method="POST">
    <div class="mb-3">
        <label for="email" class="form-label">Email Address*</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Full Name*</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="message" class="form-label">Message*</label>
        <textarea class="form-control" id="message" name="message" rows="10" required></textarea>
    </div>
    <input type="hidden" name="access_key" value="b1c20a4b-65ab-41e5-bcea-6dce82e72560">
    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
    <div class="mt-3">
        <div
            class="h-captcha"
            data-captcha="true"
            data-bs-toggle="tooltip"
            data-bs-placement="left"
            data-bs-title="Captcha is required"></div>
    </div>
</form>
<script src="https://web3forms.com/client/script.js" async></script>