---
layout: layouts/default
title: About
url:
---

<div class="row justify-content-center mb-4 position-relative">
    <div class="col-auto">
        <img
            id="profile-image"
            class="img-fluid rounded-circle bg-secondary shadow border border-secondary"
            src="img/profile.jpg"
            alt="Profile picture"
            fetchpriority="high"/>
    </div>
    <div id="profile-details" class="col-auto align-self-center">
        <h1 class="text-primary-emphasis">Cody Rodgers</h1>
        <h2 class="h4 text-secondary-emphasis fst-italic">Software Engineer</h2>
        <h3 class="h4 text-secondary fst-italic">Philadelphia, Pennsylvania, USA</h3>
        <a class="stretched-link" href="https://www.linkedin.com/in/codrod/"></a>
    </div>
</div>
<p class="lead">
    Welcome to my website.
    I'm a Full-Stack Software Engineer with 5+ years of experience designing and delivering scalable web applications.
    This site serves as a central hub for my various online profiles, as well as a way to get in touch.
    Continue reading below if you want to learn a more about my background, and experience.
</p>
<p>
    My interest in technology started early. Growing up, I spent a lot of time playing computer games like <em>RuneScape</em>, <em>World of Warcraft</em>, and <em>The Elder Scrolls</em>, which sparked a deeper curiosity about how systems work.
    That curiosity quickly turned into hands-on experimentation, writing small programs and taking apart computers to understand them from the inside out.
    I went on to study Computer Science at Temple University, where I built a strong foundation in software engineering.
    While studying I was asked to become a Teaching Assistant for, both client-side and server-side, web application development courses which began my specialization in web development.
</p>
<p>
    After graduating, I joined a consulting firm as a full-stack software engineer where I worked with clients across the enterprise, government, and higher education sectors.
    I gained experience with a variety of technologies like React.js, ASP.NET, Node.js, and Azure, as well as designing APIs, integrating complex third-party systems, and improving deployment processes through automation and infrastructure as code.
    Working in consulting taught me how to quickly adapt to new codebases, collaborate with cross-functional teams, and balance technical decisions with real-world business constraints.
</p>
<p>
    Following an unexpected diagnosis I stepped away from professional responsibilities to provide full-time care for a terminally ill family member. But now I am available again and looking for a full-time engineering role.
</p>