---
layout: layouts/default
title: About
url:
---

<div class="row justify-content-center mb-4 position-relative">
    <div class="col-auto">
        <img
            id="profile-image"
            class="img-fluid rounded-circle bg-secondary shadow border border-secondary"
            src="img/profile.jpg"
            alt="Profile picture"
            fetchpriority="high"/>
    </div>
    <div id="profile-details" class="col-auto align-self-center">
        <h1 class="text-primary-emphasis">Cody Rodgers</h1>
        <h2 class="h4 text-secondary-emphasis fst-italic">Software Engineer</h2>
        <h3 class="h4 text-secondary fst-italic">Philadelphia, Pennsylvania, USA</h3>
        <a class="stretched-link" href="https://www.linkedin.com/in/codrod/"></a>
    </div>
</div>
<p class="lead">
    Welcome to my website. I'm a Software Engineer with 5+ years of experience designing and building backend services,
    cloud infrastructure, and web applications serving millions of users. This site acts as a hub for all my various online
    profiles and as a point of contact. Below you can find a bit more about me, and if you want to get in touch then head
    over to the
    <a href="/contact">contact page</a>.
</p>
<p>
    My interest in technology started very early. Growing up, I spent most of my time playing video games like
    <em>RuneScape</em>,
    <em>World of Warcraft</em>, and
    <em>The Elder Scrolls</em>
    which sparked a deeper curiosity in technology. Pretty soon I was experimenting with programming and tearing apart old
    computers. So I decided to study computer science at
    <a href="https://www.temple.edu/" target="_blank" rel="noopener noreferrer">Temple University</a>
    where I built a strong foundation in software engineering and also began to specialize in backend web development.
</p>
<p>
    After graduating, I got my first job at a
    <a href="https://www.rdadigital.com/" target="_blank" rel="noopener noreferrer">consulting firm</a>
    with a diverse clientele across the public, private, and higher education sectors. I learned how to quickly adapt to new
    codebases and technologies as well as work with diverse teams including directly with clients and stakeholders. Most of
    all I learned about the financial cost of software development and how to balance engineering requirements with business
    needs.
</p>
<p>
    Outside of work, I still spend most of my time gaming, modding, and contributing to
    <a href="https://github.com/codrod" target="_blank" rel="noopener noreferrer">open-source projects</a>.
            In fact I still play
    <em>World of Warcraft</em>. But I also have a strong interest in philosophy and history, particularly ancient history,
        and enjoy exploring science-fiction/fantasy worlds like The
    <em>Lord of the Rings</em>,
    <em>Warcraft</em>,
    <em>Warhammer</em>, and
    <em>Dune</em>.
</p>