@import "bootstrap/scss/bootstrap.scss";

main {
    min-height: calc(100vh - (128px + 56px));
    @include media-breakpoint-up(md) {
        min-height: calc(100vh - (128px + 96px));
    }
}

#navbar {
    font-size: 1.2rem;

    @include media-breakpoint-up(md) {
        height: 96px;
    }

    a {
        color: #fff;

        &.active {
            text-decoration: underline;
        }
    }

    .dropdown {
        li {
            color: #fff;
        }
    }
}

footer {
    height: 128px;
    font-size: 1.2rem;
}

#profile-details {
    text-align: center;
    margin-top: 1.5rem;
    
    @include media-breakpoint-up(md) {
        text-align: left;
        margin-top: 0;
    }
}

#profile-image {
    height: 320px;
    width: 320px;
}